html,
body {
    box-sizing: border-box;
}

html *,
body * {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.4);
}
